<div id="banner" style="background: no-repeat center 33% url(images/lg-skull.svg);background-size: 40vh 40vh;"></div>
<div id="desc">
<h1>Todd Resudek</h1>
<h2>Human Software Developer</h2>
</div>
<div id="links">
<a href="https://twitter.com/sprsmpl"><img alt="twitter" src="images/twitter.svg"></a>
<a href="https://github.com/supersimple"><img alt="github" src="images/github.svg"></a>
</div>
