<section class="row">
<%= if @article do %>
    <article class="post">
        <h1><%= @article.title %></h1>
        <h3 class="author">Published by: <%= @article.author %> on <%= Calendar.strftime(@article.date, "%B %-d, %Y") %></h3>
        <%= raw @article.body %>
    </article>
<% else %>
<h1 class="error">Oops. That link cannot be found.</h1>
<% end %>
</section>
